<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="nav"
          th:with="principal=${#authorization.expression('isAuthenticated()') ? #authentication.principal : null}"
>
    <th:block >
        <nav th:if="${principal != null && principal.class.name != 'java.lang.String'}"
                th:with="roles=${principal.roles != null ? principal.roles : List.of()}"
                th:attr="class=${roles.contains('admin') ? 'admin' : ''}"
        >
            <span th:text="${principal.getUsername()}"></span> - <span th:text="${principal.getUserEmail()}"></span> -
            <span th:text="${roles}"></span>
        </nav>
    </th:block>
</th:block>

</body>

</html>